$white: #fffede;
$light-gray: #fafafa;
$gray-lighter: #f8f7fc;
$gray-light: #dddee3;
$gray: #9e9e9e;
$black: #020103;

$purple: #6a1b9a;
$pink: #e85285;
$saumon:#ffecb3;

$foundation-palette: (
  primary: $purple,
  secondary: $pink,
  success: #71e146,
  warning: #f29837,
  alert: #ec3342,
);

$body-background: $light-gray;

@include add-foundation-colors;
