---
title:
description: ''
---

- content_for :head do
  = javascript_include_tag '//widget.manychat.com/176371569623084.js', :async => true

.container
  .columns
    .column
      h1.title Hey Product Hunt, Here's Your 25+ Case Studies of the Best Growth Hacks From 2017
      h2.subtitle.has-text-grey-light Create an automated lead machine across Facebook, Linkedin, B2B cold email, and more.

  .columns
    .column.content
      markdown:
        ## Testimonials

        > Bottom line, you create tremendous value for people, so they see a clear benefit to associate with you.
        >
        > <cite>Dennis Yu, CTO of BlitzMetrics</cite>

        > Knowing cool growth hacks doesn't make you a great marketer. Josh also practices what he preaches, both for his own brand and for various clients.
        >
        > <cite>Julius Baron, Founder of JumpKit</cite>
    .column

    .column
      .content
        markdown:
          ## Get your free eBook by Facebook Messenger.
        .mcwidget-embed data-widget-id="1053342"

  .columns
    .column.content.is-medium
      markdown:
        ### About the author, David Leuliette

        - Led growth for a couple of the fastest growing SaaS companies, including Autopilot (top 10).
        - Created the fastest growing community for getting startups traction (over 15,000+ members).
        - Authored a book about Facebook marketing, and was awarded Top Quora Writer and Growth Hacker of 2017.
        - Featured in Inc. for creating a viral Facebook Ad, and featured in Forbes for writing one of the most viral LinkedIn statuses (8M+ views).

        ## The first half

        Here's the first half. Don't miss out on these epic growth hacks.

        LinkedIn Marketing Growth Hacks

        - 09 How to Get Emails from Facebook Groups
        - 30 Facebook Targeting Hacks
        - 32 How I Made $200,000 from One Facebook Group
        - 34 10 Ways to Use Custom Audiences
        - 60 How to Create a Chatbot with Zero Coding
        - 71 Growth Hack Your Affiliate Marketing Program
        - 84 The Hustle's Ambassador Framework
        - 95 Complete Guide to Throwing Epic Events
        - 114 Unlimited “InMails” — LinkedIn “Hack”
        - 132 Growth Hacking LinkedIn Content Marketing
        - 137 The Anatomy of a Viral LinkedIn Post
        - 154 How to Get Thousands of Leads from Quora
        - 159 Reverse Image Search for Getting Backlinks
        - 192 How to Find Your Competitor’s Guest Posts
        - 194 How to Use Direct Mail like a Boss

        +10 More Chapters

        ## What readers said about this book

        > Logan Young
        > VP of Strategy at BlitzMetrics
        > Take the hardest working person you know and multiply by three. That's Josh Fechter for you.

        But more than just working hard, he knows how to get impact from his time-- hence, his position as the top and best-known growth hacker on the planet.

        > Lucy Zhao
        > Product Marketing at Plivo
        > Josh is a Rocket on Steroids. Not only is he currently the best growth/marketing hacker, he's also tremendous at giving back to the community.

  .columns
    .column
      .mcwidget-embed data-widget-id="1053342"
      markdown:
        > Hey {{Name}}
        > You wew clearly meant for a Hire purpose.
        >
